.contact {
  padding-top: 86px;
  padding-bottom: 148px;
  display: flex;
  justify-content: space-between;
  gap: 24px;

  .contact__form-content {
    max-width: 500px;
  }

  .contact__form-content-title {
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: clamp(48px, 9vw, 89px);
    line-height: 100%;
    letter-spacing: -0.89px;
    vertical-align: middle;
    color: #AA97F8;
    white-space: nowrap;
  }

  .contact__form-content-description {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0;
    vertical-align: middle;
  }

  .contact__form {
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .contact__form-input {
    padding: 15px 8px 10px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #FFFFFF4D;
    color: var(--color);
    resize: none;
  }

  .contact__form-input_error {
    border-bottom: 1px solid #F50000;
    position: relative;
  }

  .contact__form-error-message {
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #F50000;
    margin-top: -20px;
    margin-bottom: -22px;
    padding-left: 6px;
  }

  .contact__form-input:-webkit-autofill,
  .contact__form-input:-webkit-autofill:hover,
  .contact__form-input:-webkit-autofill:focus,
  .contact__form-input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--color);
    -webkit-box-shadow: 0 0 0px 100px var(--background) inset;
    caret-color: var(--color);

  }

  .contact__form-input:focus-visible {
    outline: none;
  }

  .contact__form-submit-button {
    background: #AA97F8;
    margin-top: 16px;
  }

  .contact__steps {
    max-width: 500px;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 56px;
  }


  .contact__steps-title {
    margin: 0;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 38px;
    line-height: 20px;
    letter-spacing: 0;
    vertical-align: middle;
  }

  .contact__steps-content {
    display: flex;
    flex-direction: column;

  }

  .steps__step-name {
    position: relative;
    margin-top: 42px;
    display: block;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 26px;
    line-height: 20px;
    letter-spacing: 0;
    opacity: .7;
  }

  .steps__step-name:first-child {
    margin-top: 0;
  }

  .steps__step-name::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 396px;
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);

  }

  .steps__step-description {
    margin: 0;
    margin-top: 31px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
    vertical-align: middle;
    opacity: .5;
  }
}



@media (max-width: 900px) {
  .contact {
    flex-direction: column;

    .contact__form-content {
      max-width: 100%;
    }

    .contact__steps {
      max-width: 100%;
    }

    .contact__steps-title {
      line-height: 100%;
    }

    .steps__step-name::after {
      width: calc(100% - 90px);
    }
  }
}