.partners {
  overflow-x: hidden;

  .partners__subtitle {
    font-family: SF Pro;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #EFEDFDB2;
  }

  .partners__content {
    width: 100%;
    margin-top: 48px;
    display: flex;
    gap: 24px;
  }

  .partners__content-wrapper {
    position: relative;
    overflow-x: hidden;
  }

  .partners__content-wrapper::before,
  .partners__content-wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1000px;
    opacity: 0.6;
    background: linear-gradient(22.41deg, #000000 86.4%, rgba(0, 0, 0, 0) 89.83%);
    background-blend-mode: overlay;
    filter: blur(100px);
    z-index: 10;
    pointer-events: none;
  }

  .partners__content-wrapper::before {
    left: -70%;
  }

  .partners__content-wrapper::after {
    right: -70%;
  }


  .partners__content-slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
    border: none;
    background: transparent;
    cursor: pointer
  }

  .partners__content-slide-left-arrow {
    left: 0;
  }

  .partners__content-slide-right-arrow {
    right: 0;

    .partners__slide-arrow {
      transform: rotate(180deg);
    }
  }

  .partners__slider-dots {
    display: none;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    gap: 10px;
  }

  .partners__slider-dot {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--color);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .partners__slider-dot_active {
    background: var(--selected-color);
  }


  .partners__feedback {
    flex-shrink: 0;
    border-radius: 16px;
    padding: 24px 28px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--marked-background);
    width: 38.55%;
  }

  .partners__partner {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
  }

  .partners__partner-icon {
    grid-area: 1 / 1 / 3 / 2;
    width: 44px;
    height: 44px;
    border-radius: 50%
  }

  .partners__partner-name {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #F4F0FF;
  }

  .partners__partner-position {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #EFEDFD99;
  }

  .partners__feedback-description {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #EFEDFDB2;
  }
}

@media (max-width: 860px) {
  .partners {
    .partners__feedback {
      width: 45%;
    }
  }
}

@media (max-width: 700px) {
  .partners {
    .partners__content {
      gap: 16px;
    }

    .partners__feedback {
      min-width: 310px;
      padding: 14px 16px;
      width: 60%;
    }

    .partners__slider-dots {
      display: flex;
    }

    .partners__content-slide-arrow {
      display: none;
    }
  }
}