:root {
  --selected-color: #A594FD;
  --background: #000000;
  --color: #FFFFFF;
  --header-height: 83px;
  --marked-background: #101010
}

* {
  box-sizing: border-box;
  font-family: Inter;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + 4px);
}


body {
  background-color: var(--background);
  color: var(--color)
}

.wrapper {
  width: 100%;
  max-width: 1214px;
  padding: 0 16px;
  margin: 0 auto;
}

.indent {
  margin-top: 116px;
  margin-bottom: 116px;
}

.social-links {
  display: flex;
  list-style-type: none;
  gap: 32px;
  padding: 0;
  margin: 0;

  a {
    cursor: pointer;
  }

  a:hover {
    path {
      stroke: var(--selected-color)
    }

    circle {
      fill: var(--selected-color)
    }
  }

  .social-links__link:last-child {
    a:hover {
      path {
        fill: var(--selected-color);
        stroke: none
      }
    }
  }
}

.connect-button {
  cursor: pointer;
  border-radius: 10px;
  padding: 18px 59px;
  color: var(--background);
  background: var(--selected-color);
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  border: none
}

.section-title {
  padding: 0;
  margin: 0;
  margin-top: 16px;
  font-family: SF Pro;
  font-weight: 400;
  font-style: Regular;
  font-size: clamp(32px, 8vw, 76px);
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
}

.accordion__summary {
  list-style: none;
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.3s;
}

.accordion__content-body {
  overflow: hidden;
}

.accordion__details[open]+.accordion__content {
  grid-template-rows: 1fr;
}


.hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.paused {
  animation-play-state: paused !important;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;

  .modal__container {
    position: relative;
    background-color: var(--background);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
    overflow-y: auto;
  }

  .modal__close-button {
    position: fixed;
    width: 28px;
    height: 28px;
    border: none;
    right: 16px;
    top: 40px;
    background: transparent;
    cursor: pointer
  }

  .modal__close-button-line {
    display: inline-block;
    background: var(--color);
    width: 2px;
    height: 20px;
    border-radius: 1px;
    margin-top: 2px;
    transform: rotate(45deg);
  }

  .modal__close-button-line:last-child {
    transform: rotate(-45deg);
    margin-left: -6.5px;
  }


  .modal__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact {
      margin: 32px 0;
      padding: 32px 8px;
      height: 100vh;
    }
  }
}

.modal_active {
  opacity: 1;
  visibility: visible;

  .modal__container {
    transform: translateY(0);
  }
}


.carousel {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .carousel__top-content-wrapper {
    display: flex;
    width: max-content;
    animation: moveRight 50s linear infinite;
  }

  .carousel__bottom-content-wrapper {
    display: flex;
    width: max-content;
    animation: moveLeft 50s linear infinite;
  }
}

.carousel_paused {

  .carousel__top-content-wrapper,
  .carousel__bottom-content-wrapper {
    animation-play-state: paused;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}