:root {
  --selected-color: #A594FD;
  --background: #000000;
  --color: #FFFFFF;
  --color-gradient: linear-gradient(80.72deg, #7E6BC7 0%, #D5CAFF 95.64%);
  --background-gradient: linear-gradient(80.72deg, #7E6BC7 0%, #D5CAFF 95.64%);
  --header-height: 83px
}

* {
  box-sizing: border-box;
  font-family: Inter;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + 4px);
}


body {
  background-color: var(--background);
  color: var(--color)
}

.wrapper {
  width: 100%;
  max-width: 1245px;
  margin: 0 auto;
}

.social-links {
  display: flex;
  list-style-type: none;
  gap: 32px;
  padding: 0;
  margin: 0;

  a {
    cursor: pointer;
  }

  a:hover {
    path {
      stroke: var(--selected-color)
    }

    circle {
      fill: var(--selected-color)
    }
  }

  .social-links__link:last-child {
    a:hover {
      path {
        fill: var(--selected-color);
        stroke: none
      }
    }
  }

}

.connect-button {
  cursor: pointer;
  border-radius: 10px;
  padding: 18px 59px;
  color: var(--background);
  background: var(--background-gradient);
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  border: none
}

.section-title {
  padding: 0;
  margin: 0;
  margin-top: 16px;
  font-family: SF Pro;
  font-weight: 400;
  font-style: Regular;
  font-size: 76px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
}

.accordion__summary {
  list-style: none;
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.3s;
}

.accordion__content-body {
  overflow: hidden;
}

.accordion__details[open]+.accordion__content {
  grid-template-rows: 1fr;
}


.hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}


.text-carousel {
  margin: 0 36px;
}

.text-carousel__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-carousel__item {
  opacity: 0.4;
  font-family: Inter;
  font-weight: 300;
  font-style: Light;
  font-size: 132.88px;
  line-height: 79.37px;
  letter-spacing: -0.79px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.text-carousel__image {
  width: 32px;
  height: 36px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
    /* Сдвигаем на половину ширины (так как дублировали контент) */
  }
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  position: sticky;
  padding-top: 40px;
  top: 0;
  background-color: var(--background);
  z-index: 10;

  .header__navigation-items {
    display: flex;
    list-style-type: none;
  }

  .header__navigation-item {
    padding: 12px 28px;

    .header__navigation-item-link {
      text-decoration: none;
      color: var(--color)
    }

    .header__navigation-item-link_active {
      color: var(--selected-color)
    }
  }
}

.hero {
  height: calc(100vh - 83px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  position: relative;

  &::before {
    content: "";
  }


  .hero__content {
    display: flex;
    justify-content: space-between;
  }

  .hero__title-wrapper {
    margin-left: 14px;
  }

  .hero__title {
    margin: 0;
    font-weight: 400;
    font-family: SF Pro;
    font-size: 89px;
    line-height: 89px;
    letter-spacing: -0.89px;
    vertical-align: middle;

    mark {
      background: transparent;
      color: #A594FD;
      display: block
    }
  }

  .hero__subtitle {
    width: 735px;
    margin: 0;
    margin-top: 22px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0;
    vertical-align: middle;

  }

  .hero__company-info {
    display: flex;
    justify-content: space-between;
  }

  .hero__connect-button {
    margin-top: 22px;
  }

  .hero__highlights {
    display: flex;
    gap: 62px;
    align-items: center;
    margin-top: -20px;
  }

  .hero__highlight {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;

    mark {
      background-color: transparent;
      color: var(--color);
      font-family: Inter;
      font-weight: 600;
      font-style: 'Semi Bold';
      font-size: 42px;
    }
  }

  .hero__animation {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.strengths {
  margin-top: 116px;
  margin-bottom: 116px;

  .strengths__tablist {
    margin-top: 48px;
    display: flex;
    width: 100%;
    position: relative;
  }

  .strengths__tab {
    flex: 1;
    background-color: transparent;
    color: var(--color);
    border: none;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    border-bottom: 1px solid #FFFFFF33;
    padding: 18px 24px;
    white-space: nowrap;
    cursor: pointer;
    opacity: 0.5
  }

  .strengths__tab_active {
    opacity: 1
  }

  .strengths__tab-indicator {
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #A594FD;
    transition: all 0.3s ease;
    left: 0;
    width: 0;
  }

  .strengths__content {
    display: flex;
    overflow-x: hidden;
    margin-top: 86px;
  }

  .strengths__strength {
    flex-shrink: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: min-content 1fr;
    justify-content: space-between;
  }


  .strengths__strength-name {
    margin: 0;
    grid-area: 1 / 1 / 2 / 2;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0;
    vertical-align: middle;
  }

  .strengths__strength-description {
    margin: 0;
    margin-top: 48px;
    grid-area: 2 / 1 / 3 / 2;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 19px;
    line-height: 29px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #EFEDFDB2;

  }

  .strengths__strength-icon-wrapper {
    grid-area: 1 / 2 / 3 / 3;
    width: 365px;
    height: 365px;
    border-radius: 20px;
    margin-right: 50px
  }

}

.collaboration {
  margin-top: 116px;
  margin-bottom: 116px;

  .collaboration__title {
    max-width: 758px;
  }

  .collaboration__opportunities {
    margin-top: 80px;
    display: flex;
    gap: 24px
  }

  .collaboration__opportunity {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 48px 8px;
    border-radius: 20px;
    background-color: #101010;
  }

  .collaboration__opportunity-icon-wrapper {
    height: 270px;
    position: relative;
  }

  .collaboration__opportunity-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    max-width: 100%;
    object-fit: contain;
  }

  .collaboration__opportunity-icon-design {
    height: 260px;
  }

  .collaboration__opportunity-icon-apps {
    height: 260px;
  }

  .collaboration__opportunity-title {
    margin-top: 30px;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
  }

  .collaboration__opportunity-description {
    margin-top: 10px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
    text-align: center;
    vertical-align: middle;
  }
}

.faq {
  margin-top: 116px;
  margin-bottom: 116px;

  .faq__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    margin-top: 60px;
  }

  .faq__accordion {
    border-radius: 20px;
    box-shadow: 0px 1px 12px 0px #FFD7001A;
    border: 1px solid #FEE80138;
    backdrop-filter: blur(40px);
    cursor: pointer;
  }

  .faq__accordion .accordion__details[open] .accordion__summary {
    background-color: #101010;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
  }

  .faq__accordion .accordion__details[open] .faq__accordion-title::before {
    opacity: 0;
  }

  .faq__accordion .accordion__details[open]+.accordion__content {
    background-color: #101010;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px
  }

  .faq__accordion:has(.accordion__details[open]) {
    border-color: transparent;
  }

  .faq__accordion-title {
    padding: 24px;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 66px;
    letter-spacing: 0;
    position: relative;
    display: block;
  }

  .faq__accordion-title::before {
    content: "";
    position: absolute;
    height: 19px;
    width: 2px;
    border-radius: 1px;
    background-color: #FFFFFF;
    right: 39px;
    top: 50%;
    transform: translateY(-50%);
  }

  .faq__accordion-title::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 2px;
    border-radius: 1px;
    right: 30px;
    top: 50%;
    background-color: #FFFFFF;
    transform: translateY(-50%);
  }


  .faq__accordion-description {
    margin: 24px;
    margin-top: -8px;
    padding-left: 8px;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #A0A0A0
  }
}

.technologies {
  margin-top: 116px;
  margin-bottom: 116px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .technologies__icon-wrapper {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.67%, rgba(0, 0, 0, 0) 33.33%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 66.67%, rgba(0, 0, 0, 0.5) 83.33%, #000000 100%);
    transform: translateY(100px);
  }

  .technologies__title {
    font-family: Inter;
    text-align: center;
    z-index: 4;
  }

  .technologies__content {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 12px;
    position: relative;
  }

  .technologies__content::after,
  .technologies__content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.18) 24.33%, rgba(255, 255, 255, 0.18) 49.55%, rgba(255, 255, 255, 0.08) 74.78%, rgba(255, 255, 255, 0) 100%);
  }

  .technologies__content::before {
    bottom: 50%
  }

  .technologies__technology {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    width: 25%;
    padding: 20px 0 36px;
    /* margin: -8px 0; */
  }

  .technologies__technology:first-child::after,
  .technologies__technology:nth-child(2):after,
  .technologies__technology:nth-child(3):after,
  .technologies__technology:nth-child(5):after,
  .technologies__technology:nth-child(6):after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0) 100%);
  }

  .technologies__technology:nth-child(2):after,
  .technologies__technology:nth-child(6):after {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0) 100%);
  }

  .technologies__technology-icon {
    height: 64px;
    object-fit: none;
    transition: transform 0.3s ease;
    /* margin: 10px 0; */
  }

  .technologies_technology-name {
    opacity: 0.8;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
  }

  .technologies__technology:hover {
    .technologies__technology-icon {
      transform: scale(calc(84 / 64));
      height: 84px;
    }

    .technologies_technology-name {
      color: #A594FD
    }
  }

  .technologies__technology:hover {
    .technologies__technology-icon {
      transform: scale(1.3125);
      margin: 0;
    }
  }

  .technologies__content:has(.technologies__technology:hover) .technologies__technology:not(:hover)::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, .5);
    inset: 0;
    z-index: 2;
  }
}

.information {
  margin-top: 116px;
  margin-bottom: 116px;

  .information__title {
    text-align: center;
  }

  .information__content {
    margin-top: 56px;
    display: flex;
    gap: 24px;
  }

  .information__content-item {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #101010;
    padding: 56px 3px 48px 3px;
    border-radius: 20px
  }

  .information__content-item:hover {
    background: linear-gradient(80.72deg, #7E6BC7 0%, #D5CAFF 95.64%);
    color: #000000;

    .information__content-item-description {
      color: #000000;
      opacity: 0.6
    }
  }

  .information__content-item-image {
    width: 128px;
    height: 128px;
  }

  .information__content-item-title {
    margin-top: 24px;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 23.81px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
  }

  .information__content-item-description {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    color: #ADADAD;

  }


  .information__technologies {
    width: 682px;
    margin: 0 auto;
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 22px;
    justify-content: center;
    color: #F1F1EF
  }

  .information__technology {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    border-radius: 16px;
    background-color: #101010;
    padding: 12px 26px;
  }

  .information__technology:hover {
    background: linear-gradient(80.72deg, #7E6BC7 0%, #D5CAFF 95.64%);
    color: #000000;
  }
}

.contact {
  margin-top: 86px;
  margin-bottom: 148px;
  display: flex;
  justify-content: space-between;

  .contact__form-content {
    width: 500px;
  }

  .contact__form-content-title {
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 88.83px;
    line-height: 89px;
    letter-spacing: -0.89px;
    vertical-align: middle;
    color: #AA97F8;
  }

  .contact__form-content-description {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0;
    vertical-align: middle;
  }

  .contact__form {
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .contact__form-input {
    padding: 15px 8px 10px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #FFFFFF4D;
    color: var(--color);
    resize: none;
  }

  .contact__form-input_error {
    border-bottom: 1px solid #F50000;
    position: relative;
  }

  .contact__form-error-message {
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #F50000;
    margin-top: -20px;
    margin-bottom: -22px;
    padding-left: 6px;
  }

  .contact__form-input:-webkit-autofill,
  .contact__form-input:-webkit-autofill:hover,
  .contact__form-input:-webkit-autofill:focus,
  .contact__form-input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--color);
    -webkit-box-shadow: 0 0 0px 100px var(--background) inset;
    caret-color: var(--color);

  }

  .contact__form-input:focus-visible {
    outline: none;
  }

  .contact__form-submit-button {
    background: #AA97F8;
    margin-top: 16px;
  }

  .contact__steps {
    width: 500px;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 56px;
  }


  .contact__steps-title {
    margin: 0;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 38px;
    line-height: 20px;
    letter-spacing: 0;
    vertical-align: middle;
  }

  .contact__steps-content {
    display: flex;
    flex-direction: column;

  }

  .steps__step-name {
    position: relative;
    margin-top: 42px;
    display: block;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 26px;
    line-height: 20px;
    letter-spacing: 0;
    opacity: .7;
  }

  .steps__step-name:first-child {
    margin-top: 0;
  }

  .steps__step-name::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 396px;
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);

  }

  .steps__step-description {
    margin: 0;
    margin-top: 31px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
    vertical-align: middle;
    opacity: .5;
  }
}

.footer {
  height: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  padding: 50px 0;
  row-gap: 24px;
  justify-content: space-between;

  border-top: 1px solid #FFFFFF1A;

  .footer__text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #EFEDFD99
  }

  .footer__gmail {
    color: #EFEDFD99;
    font-size: 14px;
    justify-self: end;
  }

}

.contact-redirect {
  width: 820px;
  margin-top: 162px;
  margin-bottom: 162px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-redirect__icon {
    width: 192;
    height: 200px;
  }

  .contact-redirect__title {
    text-align: center;

    mark {
      background: transparent;
      color: #AA97F8
    }
  }

  .contact-redirect__description {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
  }

  .contact-redirect__button {
    margin-top: 32px;
  }
}

.countries {
  margin-top: 116px;
  margin-bottom: 116px;

  .countries__title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .countries__title {
    width: 500px;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 56px;

    line-height: 64px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;

  }

  .countries__logo-wrapper {
    position: relative;
  }

  .countries__logo-gradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  }

  .countries__content {
    margin-top: 48px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-auto-flow: column;
    overflow-x: hidden
  }

  .countries__country {
    border-radius: 16px;
    background-color: #101010;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 30px;
  }

  .countries__country-name {
    font-family: Quicksand;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2%;
    white-space: nowrap;
  }

  .countries__country-icon {
    width: 42px;
    height: 42px;
  }
}

.partners {
  margin-top: 116px;
  margin-bottom: 116px;

  .partners__subtitle {
    font-family: SF Pro;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #EFEDFDB2;
  }

  .partners__content {
    margin-top: 48px;
    display: flex;
    gap: 24px;
    overflow-x: auto;
    cursor: grab;
    user-select: none;
  }

  .partners__content:active {
    cursor: grabbing;
  }


  .partners__feedback {
    flex-shrink: 0;
    border-radius: 16px;
    padding: 24px 28px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #101010;
    width: 480px;
  }

  .partners__partner {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
  }

  .partners__partner-icon {
    grid-area: 1 / 1 / 3 / 2;
    width: 44px;
    height: 44px;
    border-radius: 50%
  }

  .partners__partner-name {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #F4F0FF;
  }

  .partners__partner-position {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #EFEDFD99;
  }

  .partners__feedback-description {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #EFEDFDB2;
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;

  .modal__container {
    position: relative;
    background-color: var(--background);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
    overflow-y: auto;
  }

  /* .modal__close-button {
  position: absolute;
  width: 28px;
  height: 28px;
  background: red;
  border: none;
  right: 0;
  top: 40px;
} */


  .modal__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact {
      margin: 0;
    }
  }
}

.modal_active {
  opacity: 1;
  visibility: visible;

  .modal__container {
    transform: translateY(0);
  }

}