:root {
  --selected-color: #A594FD;
  --background: #000000;
  --color: #FFFFFF;
  --header-height: 83px;
  --scroll-padding: calc(var(--header-height) + 4px);
  --marked-background: #101010
}

* {
  box-sizing: border-box;
  font-family: Inter;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding);
  overflow: hidden;
}

body {
  background-color: var(--background);
  color: var(--color);
  overflow: hidden;
  position: fixed;
  width: 100%;
}

main {
  overflow-x: hidden !important;
}

.wrapper {
  width: 100%;
  max-width: 1322px;
  padding: 0 16px;
  margin: 0 auto;
}

.default-indent {
  padding-top: clamp(46px, 10vw, 116px);
  padding-bottom: clamp(46px, 10vw, 116px);
}

.social-links {
  display: flex;
  list-style-type: none;
  gap: 32px;
  padding: 0;
  margin: 0;
  height: 32px;

  .social-links__link {
    cursor: pointer;
  }

  .social-links__item,
  .social-links__link {
    width: 32px;
    height: 32px;
    display: block;
  }

  @media (hover:hover) {
    .social-links__link:hover {
      path {
        stroke: var(--selected-color)
      }

      circle {
        fill: var(--selected-color)
      }
    }

    .social-links__item:last-child {
      .social-links__link:hover {
        path {
          fill: var(--selected-color);
          stroke: none
        }
      }
    }
  }
}

.connect-button {
  cursor: pointer;
  border-radius: 10px;
  padding: 18px 59px;
  color: var(--background);
  background: var(--selected-color);
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  border: none
}

.section-title {
  padding: 0;
  margin: 0;
  margin-top: 16px;
  font-family: SF Pro;
  font-weight: 400;
  font-style: Regular;
  font-size: clamp(32px, 8vw, 76px);
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
}

.accordion__summary {
  list-style: none;
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.3s;
}

.accordion__content-body {
  overflow: hidden;
}

.accordion__details[open]+.accordion__content {
  grid-template-rows: 1fr;
}


.hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.paused {
  animation-play-state: paused !important;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 110;

  .modal__container {
    position: relative;
    background-color: var(--background);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
    overflow-y: auto;
  }

  .modal__close-button {
    z-index: 140;
    position: fixed;
    width: 28px;
    height: 28px;
    border: none;
    right: 16px;
    top: 40px;
    background: transparent;
    cursor: pointer;
    color: var(--color);
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .modal__content {
    display: flex;
    align-items: center;
    justify-content: center;

    .contact {
      margin: 32px 0;
      padding: 32px 8px;
    }
  }
}

.modal_active {
  opacity: 1;
  visibility: visible;

  .modal__container {
    transform: translateY(0);
  }
}


.carousel {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .carousel__top-content-wrapper {
    display: flex;
    width: max-content;
    animation: moveRight 50s linear infinite;
  }

  .carousel__bottom-content-wrapper {
    display: flex;
    width: max-content;
    animation: moveLeft 50s linear infinite;
  }
}

.carousel_paused {

  .carousel__top-content-wrapper,
  .carousel__bottom-content-wrapper {
    animation-play-state: paused;
  }
}


@keyframes moveRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}


.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes jump {

  0%,
  100% {
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55)
  }

  0% {
    transform: translate(0, 0)
  }

  50% {
    transform: translate(0, 64.4px);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }

  100% {
    transform: translate(0, 0);
  }
}

.preload__wrapper div {
  position: absolute;
  width: 64.4px;
  height: 64.4px;
  border-radius: 50%;
  background: var(--selected-color);
  left: 48.300000000000004px;
  top: 16.1px;
  animation: jump 1s linear infinite;
}

.preload__wrapper {
  width: 160px;
  height: 160px;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.preload__wrapper div {
  box-sizing: content-box;
}