.technologies {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .technologies__icon-wrapper {
    height: clamp(273px, 40vw, 344px);
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.67%, rgba(0, 0, 0, 0) 33.33%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 66.67%, rgba(0, 0, 0, 0.5) 83.33%, #000000 100%);
    transform: translateY(100px);
    margin-top: calc(-150px + clamp(10px, 1vw, 40px));
    position: relative;
  }

  .technologies__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .technologies__title {
    font-family: Inter;
    text-align: center;
    z-index: 4;
  }

  .technologies__content-wrapper {
    position: relative;
    margin-top: 20px;
  }

  .technologies__content-divider {
    position: absolute;
    display: block;
  }

  .technologies__content-vertical-divider {
    width: 1px;
    height: 50%;
  }

  .technologies__content-divider:nth-child(1),
  .technologies__content-divider:nth-child(3),
  .technologies__content-divider:nth-child(4) {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0) 100%);
  }

  .technologies__content-divider:nth-child(2),
  .technologies__content-divider:nth-child(5) {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0) 100%);
  }

  .technologies__content-divider:nth-child(1) {
    left: 25%;
    top: 0;
  }

  .technologies__content-divider:nth-child(2) {
    left: 50%;
    top: 0;
  }

  .technologies__content-divider:nth-child(3) {
    right: 25%;
    top: 0;
  }

  .technologies__content-divider:nth-child(4) {
    left: 37.5%;
    top: 50%;
  }

  .technologies__content-divider:nth-child(5) {
    right: 37.5%;
    top: 50%;
  }

  .technologies__content-horizontal-divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.18) 24.33%, rgba(255, 255, 255, 0.18) 49.55%, rgba(255, 255, 255, 0.08) 74.78%, rgba(255, 255, 255, 0) 100%);
    left: 0;
  }

  .technologies__content-divider:nth-child(6) {
    bottom: -1px
  }

  .technologies__content-divider:nth-child(7) {
    top: calc(50% - 1px);
  }

  .technologies__content-divider:nth-child(8) {
    display: none;
  }

  .technologies__content {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 12px;
    padding: 0;
    margin: 0;
    column-gap: 1px;
  }


  .technologies__technology {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    width: calc(25% - 1px);
    padding: 28px 0;
  }



  .technologies__technology-icon {
    height: 64px;
    object-fit: none;
    transition: transform 0.3s ease;
    margin: 10px 0;
  }

  .technologies_technology-name {
    opacity: 0.8;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
  }

  .technologies__technology:hover {
    .technologies__technology-icon {
      transform: scale(calc(84 / 64));
      height: 84px;
    }

    .technologies_technology-name {
      color: #A594FD
    }
  }

  .technologies__technology:hover {
    .technologies__technology-icon {
      transform: scale(1.3125);
      margin: 0;
    }
  }

  .technologies__content:has(.technologies__technology:hover) .technologies__technology:not(:hover)::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, .5);
    inset: 2px;
    z-index: 2;
  }
}

@media (max-width: 860px) {
  .technologies {

    .technologies__content>*:nth-child(-n+2),
    .technologies__content>*:nth-child(n+6) {
      flex-basis: calc(50% - 5px);

    }

    .technologies__content>*:nth-child(n+3):nth-child(-n+5) {
      flex-basis: calc(33.333% - 6.666px);
    }

    .technologies__technology {
      padding: 20px 0;
    }

    .technologies__content-vertical-divider {
      width: 1px;
      height: 33%;
    }


    .technologies__content-divider:nth-child(1) {
      top: 0;
      left: 50%;
    }

    .technologies__content-divider:nth-child(2) {
      left: calc(50% + 100% / 3);
      top: 0;
    }

    .technologies__content-divider:nth-child(5) {
      left: calc(100% / 3 * 2);
      top: calc(100% / 3 + 1px);
    }

    .technologies__content-divider:nth-child(4) {
      left: calc(100% / 3);
      top: calc(100% / 3 + 1px);
    }

    .technologies__content-divider:nth-child(3) {
      left: 50%;
      top: calc(100% / 3 * 2 + 1px);
    }

    .technologies__content-divider:nth-child(6) {
      top: calc(100% / 3)
    }

    .technologies__content-divider:nth-child(7) {
      top: calc(100% / 1.5);
    }

    .technologies__content-divider:nth-child(8) {
      display: block;
      bottom: -1px
    }
  }

  @media (max-width: 768px) {
    .technologies {
      .technologies__technology-icon {
        height: clamp(24px, 8vw, 48px);

      }

      .technologies_technology-name {
        font-size: 18px;
      }

      .technologies__technology {
        gap: 8px;
        padding: 12px 0;
      }
    }
  }
}